{
    "AttributesTolerance": 1,
    "KeepFirstAttributeOnSameLine": false,
    "MaxAttributeCharactersPerLine": 0,
    "MaxAttributesPerLine": 1,
    "NewlineExemptionElements": "RadialGradientBrush, GradientStop, LinearGradientBrush, ScaleTransform, SkewTransform, RotateTransform, TranslateTransform, Trigger, Condition, Setter",
    "SeparateByGroups": false,
    "AttributeIndentation": 0,
    "AttributeIndentationStyle": 1,
    "RemoveDesignTimeReferences":  false,
    "IgnoreDesignTimeReferencePrefix": false,
    "EnableAttributeReordering": true,
    "AttributeOrderingRuleGroups": [
        "x:Name, x:Key, x:Class, x:DataType, x:FactoryMethod, mct:StateView.StateKey",
        "xmlns, xmlns:x, xmlns:l, xmlns:mct, xmlns:ui, xmlns:base,  xmlns:viewmodel, xmlns:controls, xmlns:*",
        "Grid.Row, Grid.RowSpan, Grid.Column, Grid.ColumnSpan, RowDefinitions, ColumnDefinitions",
        "VerticalOptions, HorizontalOptions, Margin, Padding, Spacing, RowSpacing, ColumnSpacing, Left, Top, Right, Bottom",
        "HeightRequest, WidthRequest, MinimumHeightRequest, MinimumWidthRequest, MaximumHeightRequest, MaximumWidthRequest",
        "VerticalTextAlignment, HorizontalTextAlignment",
        "IsEnabled, IsVisible",
        "Command, CommandParameter, Style",
        "",
        "",
        "*:*, *"
    ],
    "FirstLineAttributes": "x:Name, x:Key, x:Class, x:DataType, x:FactoryMethod, mct:StateView.StateKey",
    "OrderAttributesByName": true,
    "PutEndingBracketOnNewLine": false,
    "RemoveEndingTagOfEmptyElement": true,
    "SpaceBeforeClosingSlash": true,
    "RootElementLineBreakRule": 0,
    "ReorderVSM": 2,
    "ReorderGridChildren": false,
    "ReorderCanvasChildren": false,
    "ReorderSetters": 0,
    "FormatMarkupExtension": true,
    "NoNewLineMarkupExtensions": "x:Bind, Binding",
    "ThicknessSeparator": 2,
    "ThicknessAttributes": "Margin, Padding, BorderThickness, ThumbnailClipMargin",
    "FormatOnSave": true,
    "CommentPadding": 1,
}