<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<RunConfiguration>
		<ResultsDirectory>TestResults/iOS</ResultsDirectory>
		<!-- Define the custom RunTarget for iOS -->
		<RunTarget>iOS</RunTarget>
	</RunConfiguration>

	<!-- Define constants for iOS compilation -->
	<TestConstants>
		<DefineConstants>IOS</DefineConstants>
	</TestConstants>
</RunSettings>
